In [1]:
import pandas as pd
import datetime

In [2]:
df = pd.read_csv('trips_data.csv')
df.head()

,City,Product Type,Trip or Order Status,Request Time,Begin Trip Time,Dropoff Time,Distance (miles),Fare Amount,Fare Currency
0,493,VIP,COMPLETED,2022-02-12 22:44:54 +0000 UTC,2022-02-12 22:53:50 +0000 UTC,2022-02-12 23:16:50 +0000 UTC,5.985833,24.90,BRL
1,493,VIP,COMPLETED,2022-01-15 22:38:06 +0000 UTC,2022-01-15 22:45:41 +0000 UTC,2022-01-15 22:59:23 +0000 UTC,5.919458,19.92,BRL
2,493,VIP,COMPLETED,2022-01-10 15:55:33 +0000 UTC,2022-01-10 16:03:45 +0000 UTC,2022-01-10 16:10:47 +0000 UTC,1.378521,9.05,BRL
3,458,UberX,COMPLETED,2021-12-04 18:54:42 +0000 UTC,2021-12-04 19:06:28 +0000 UTC,2021-12-04 19:21:31 +0000 UTC,2.433708,16.91,BRL
4,458,UberX,CANCELED,2021-12-04 14:54:34 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.000000,0.00,BRL

What Product Type categories are there?

In [3]:
set(df['Product Type'])

{'Black',
 'Black Car',
 'Comfort',
 'Flash',
 'Green',
 'Select',
 'Táxi Promo',
 'UberEATS Marketplace',
 'UberX',
 'UberX Promo',
 'VIP',
 nan,
 'uberX',
 'uberx'}

What is Uber Green?

In [4]:
df[df['Product Type'] == 'Green']

,City,Product Type,Trip or Order Status,Request Time,Begin Trip Time,Dropoff Time,Distance (miles),Fare Amount,Fare Currency
186,471,Green,CANCELED,2019-07-26 21:04:21 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,EUR

Looks like Uber Green can be ignored.

Uber trips would be Black, Black Car, Comfort, Select, Táxi Promo, UberX, UberX Promo, VIP, uberX and uberx

what trips were set as `nan` though?

In [5]:
df[~df['Product Type'].isin(['Black','Black Car', 'Comfort', 'Flash', 'Green', 'Select', 'Táxi Promo', 'UberEATS Marketplace', 'UberX', 'UberX Promo', 'VIP', 'uberX','uberx'])]

,City,Product Type,Trip or Order Status,Request Time,Begin Trip Time,Dropoff Time,Distance (miles),Fare Amount,Fare Currency
50,493,NaN,UNFULFILLED,2021-08-21 19:35:48 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,BRL
53,493,NaN,UNFULFILLED,2021-08-19 20:09:12 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,BRL
158,493,NaN,UNFULFILLED,2020-01-23 02:57:16 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,BRL
211,493,NaN,UNFULFILLED,2019-04-08 01:20:44 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,BRL
394,493,NaN,UNFULFILLED,2015-07-16 22:00:23 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,NaN
396,493,NaN,UNFULFILLED,2015-06-28 01:17:32 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,NaN
397,493,NaN,UNFULFILLED,2015-06-28 01:17:07 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.0,0.0,NaN

Okay so `NaN` trips are unfulfilled trips. We can ignore those for now.

Filtering out UberEats and Unfulfilled trips

In [6]:
trips = df[df['Trip or Order Status'] != 'UNFULFILLED']
trips = trips[~trips['Product Type'].isin(['Flash', 'UberEATS Marketplace', 'Green'])]
trips

,City,Product Type,Trip or Order Status,Request Time,Begin Trip Time,Dropoff Time,Distance (miles),Fare Amount,Fare Currency
0,493,VIP,COMPLETED,2022-02-12 22:44:54 +0000 UTC,2022-02-12 22:53:50 +0000 UTC,2022-02-12 23:16:50 +0000 UTC,5.985833,24.90,BRL
1,493,VIP,COMPLETED,2022-01-15 22:38:06 +0000 UTC,2022-01-15 22:45:41 +0000 UTC,2022-01-15 22:59:23 +0000 UTC,5.919458,19.92,BRL
2,493,VIP,COMPLETED,2022-01-10 15:55:33 +0000 UTC,2022-01-10 16:03:45 +0000 UTC,2022-01-10 16:10:47 +0000 UTC,1.378521,9.05,BRL
3,458,UberX,COMPLETED,2021-12-04 18:54:42 +0000 UTC,2021-12-04 19:06:28 +0000 UTC,2021-12-04 19:21:31 +0000 UTC,2.433708,16.91,BRL
4,458,UberX,CANCELED,2021-12-04 14:54:34 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.000000,0.00,BRL
...,...,...,...,...,...,...,...,...,...
390,493,uberX,COMPLETED,2016-02-09 03:49:27 +0000 UTC,2016-02-09 03:51:13 +0000 UTC,2016-02-09 03:56:48 +0000 UTC,1.475351,10.99,BRL
391,493,Black Car,COMPLETED,2015-11-13 23:42:51 +0000 UTC,2015-11-13 23:47:00 +0000 UTC,2015-11-14 00:09:18 +0000 UTC,1.765607,17.00,BRL
392,493,Black Car,COMPLETED,2015-08-16 04:05:07 +0000 UTC,2015-08-16 04:23:04 +0000 UTC,2015-08-16 04:34:35 +0000 UTC,3.444544,30.00,BRL
393,493,Black Car,CANCELED,2015-07-16 22:01:52 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,1970-01-01 00:00:00 +0000 UTC,0.000000,0.00,BRL
395,493,Black Car,COMPLETED,2015-07-08 23:45:54 +0000 UTC,2015-07-08 23:52:28 +0000 UTC,2015-07-09 00:03:57 +0000 UTC,1.604149,13.00,BRL

Okay, let's start working with some trips then. How many were cancelled?

In [7]:
total_trips = len(trips)
print('Total Trips: ', len(trips))
cancelled_trips = trips[trips['Trip or Order Status'].isin(['CANCELED', 'DRIVER_CANCELED'])]
print('Canceled Trips: ', len(cancelled_trips))
print('Ratio: ', len(cancelled_trips)/total_trips)

Total Trips:  354
Canceled Trips:  64
Ratio:  0.1807909604519774

How many were in BRL? How many weren't?

In [8]:
brl_trips = trips[trips['Fare Currency'] == 'BRL']
print('Trips in BRL: ', len(brl_trips))
non_brl_trips = trips[trips['Fare Currency'] != 'BRL']
non_brl_trips

Trips in BRL:  351

,City,Product Type,Trip or Order Status,Request Time,Begin Trip Time,Dropoff Time,Distance (miles),Fare Amount,Fare Currency
185,471,UberX,COMPLETED,2019-07-26 21:05:35 +0000 UTC,2019-07-26 21:06:57 +0000 UTC,2019-07-26 21:15:08 +0000 UTC,3.147325,10.57,EUR
187,37,UberX,COMPLETED,2019-07-26 05:14:11 +0000 UTC,2019-07-26 05:21:19 +0000 UTC,2019-07-26 05:31:20 +0000 UTC,2.788057,9.11,EUR
188,37,UberX,COMPLETED,2019-07-24 22:43:12 +0000 UTC,2019-07-24 22:48:16 +0000 UTC,2019-07-24 23:07:25 +0000 UTC,9.949842,27.80,EUR

Just EUR when not BRL. How much was spent in each currency?

In [9]:
total_brl = sum(brl_trips['Fare Amount'])
print('Total BRL: ', total_brl)
total_eur = sum(non_brl_trips['Fare Amount'])
print('Total EUR: ', total_eur)

Total BRL:  3411.840000000003
Total EUR:  47.480000000000004

What was the average Price per mile traveled in BRL?

In [10]:
total_miles_brl = sum(brl_trips['Distance (miles)'])
avg_price_per_mile = total_brl/total_miles_brl
print('Average Price Per Mile (BRL): ', avg_price_per_mile)

Average Price Per Mile (BRL):  4.888270397850686

Or in Price per KM, for the rest of the world:

In [11]:
# 1 mile = 1.60934 km
total_km_brl = total_miles_brl * 1.60934
avg_price_per_km = total_brl/total_km_brl
print('Average Price Per Km (BRL): ', avg_price_per_km)

Average Price Per Km (BRL):  3.0374379545967205

**From now on all calculations will be done with the BRL trips as the EUR trips are not in relevant quantity**

What is the average wait time per trip?

In [12]:
completed_trips = brl_trips[brl_trips['Trip or Order Status'] == 'COMPLETED']
wait_times = []
for trip in completed_trips.values:
    wait_times.append((pd.to_datetime(trip[4][:-10])-pd.to_datetime(trip[3][:-10])).total_seconds())
    
print('Average Wait Time: ', datetime.timedelta(seconds=sum(wait_times)/len(wait_times)))

Average Wait Time:  0:05:45.121951

And the average time per trip?

In [14]:
trip_times = []
for trip in completed_trips.values:
    trip_times.append((pd.to_datetime(trip[5][:-10])-pd.to_datetime(trip[4][:-10])).total_seconds())
    
print('Average Trip Time: ', datetime.timedelta(seconds=sum(trip_times)/len(trip_times)))

Average Trip Time:  0:11:16.222997